.boton69{
	cursor: pointer;
	cursor: hand;
	border: 0px solid #d68300;
	/*box-shadow:0 0 0 3px #ffcb79;*/
	padding: 2px 11px;
	border-radius: 2px; /*redondea los bordes*/
	font-weight: bold;
	/*text-shadow: 1px 1px 0px white;*/
	color: #FFFFFF;
	font-size: 18px;

	background: #018dfb; 
	/*background: -moz-linear-gradient(top, #018dfb 0%, #001694 100%);
	background: -webkit-linear-gradient(top, #018dfb 0%,#001694 100%); 
	background: -ms-linear-gradient(top, #018dfb 0%, #001694 100%); 
	filter:progid:DXImageTransform.Microsoft.Gradient(endColorstr='#018dfb', startColorstr='#001694', gradientType='0');*/
}		
.boton69:hover{
	background: #08084c; 
	/*background: -moz-linear-gradient(top, #001694 0%, #018dfb 100%);
	background: -webkit-linear-gradient(top, #001694 0%,#018dfb 100%); 
	background: -ms-linear-gradient(top, #001694 0%, #018dfb 100%); 
	filter:progid:DXImageTransform.Microsoft.Gradient(endColorstr='#001694', startColorstr='#018dfb', gradientType='0');*/
}
.boton69:active {
	background: #001694; 
	/*background: -moz-linear-gradient(top, #08084c 0%, #08084c 100%);
	background: -webkit-linear-gradient(top, #08084c 0%,#feca3f 100%);
	background: -ms-linear-gradient(top, #08084c 0%, #feca3f 100%); 
	filter:progid:DXImageTransform.Microsoft.Gradient(endColorstr='#08084c', startColorstr='#08084c', gradientType='0');*/
}

.botonenviar{
	cursor: pointer;
	cursor: hand;
	border: 0px solid #d68300;
	/*box-shadow:0 0 0 3px #ffcb79;*/
	padding: 2px 11px;
	border-radius: 2px; /*redondea los bordes*/
	font-weight: bold;
	/*text-shadow: 1px 1px 0px white;*/
	color: #FFFFFF;
	font-size: 18px;

	background: #9a0000; 
	/*background: -moz-linear-gradient(top, #018dfb 0%, #001694 100%);
	background: -webkit-linear-gradient(top, #018dfb 0%,#001694 100%); 
	background: -ms-linear-gradient(top, #018dfb 0%, #001694 100%); 
	filter:progid:DXImageTransform.Microsoft.Gradient(endColorstr='#018dfb', startColorstr='#001694', gradientType='0');*/
}		
.botonenviar:hover{
	background: #bf2b37; 
	background: -moz-linear-gradient(top, #bf2b37 0%, #9a0000 100%);
	background: -webkit-linear-gradient(top, #bf2b37 0%,#9a0000 100%); 
	background: -ms-linear-gradient(top, #bf2b37 0%, #9a0000 100%); 
	filter:progid:DXImageTransform.Microsoft.Gradient(endColorstr='#bf2b37', startColorstr='#9a0000', gradientType='0');
}
.botonenviar:active {
	background: #d43340; 
	/*background: -moz-linear-gradient(top, #d43340 0%, #bf2b37 100%);
	background: -webkit-linear-gradient(top, #d43340 0%,#bf2b37 100%);
	background: -ms-linear-gradient(top, #d43340 0%, #bf2b37 100%); 
	filter:progid:DXImageTransform.Microsoft.Gradient(endColorstr='#d43340', startColorstr='#bf2b37', gradientType='0');*/
}

#exporta{
	border: 0px solid #d68300;
	/*box-shadow:0 0 0 3px #ffcb79;*/
	padding: 2px 11px;
	border-radius: 3px; /*redondea los bordes*/
	font-weight: bold;
	/*text-shadow: 1px 1px 0px white;*/
	color: #FFFFFF;
	font-size: 18px;
	background: #33a843; 
	background: -moz-linear-gradient(top, #0be82a 0%, 33a843# 100%);
	background: -webkit-linear-gradient(top, #0be82a 0%,#33a843 100%); 
	background: -o-linear-gradient(top, #0be82a 0%, 33a843# 100%);
	background: -ms-linear-gradient(top, #0be82a 0%,#33a843 100%); 
	filter:progid:DXImageTransform.Microsoft.Gradient(endColorstr='#0be82a', startColorstr='#33a843', gradientType='0');
}
#exporta:hover{
	background: #1ed238; 
	background: -moz-linear-gradient(top, #33a843 0%, #1ed238 100%);
	background: -webkit-linear-gradient(top, #33a843 0%,#1ed238 100%);
	background: -o-linear-gradient(top, #33a843 0%, 1ed238# 100%);
	background: -ms-linear-gradient(top, #33a843 0%,#1ed238 100%); 
	filter:progid:DXImageTransform.Microsoft.Gradient(endColorstr='#33a843', startColorstr='#1ed238', gradientType='0');

}
#exporta:active{
	background: #11ff33; 
	background: -moz-linear-gradient(top, #11ff33 0%, #33a843 100%);
	background: -webkit-linear-gradient(top, #11ff33 0%,#33a843 100%);
	background: -o-linear-gradient(top, #11ff33 0%, 33a843# 100%);
	background: -ms-linear-gradient(top, #11ff33 0%,#33a843 100%); 
	filter:progid:DXImageTransform.Microsoft.Gradient(endColorstr='#11ff33', startColorstr='#33a843', gradientType='0');
}