
.boton3 {
	-moz-box-shadow:inset 0px 0px 0px 0px #051a2e;
	-webkit-box-shadow:inset 0px 0px 0px 0px #051a2e;
	box-shadow:inset 0px 0px 0px 0px #051a2e;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #133e69), color-stop(1, #3374b0) );
	background:-moz-linear-gradient( center top, #133e69 5%, #3374b0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#133e69', endColorstr='#3374b0');
	background-color:#133e69;
	-webkit-border-top-left-radius:10px;
	-moz-border-radius-topleft:10px;
	border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-moz-border-radius-topright:10px;
	border-top-right-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	-moz-border-radius-bottomright:10px;
	border-bottom-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-moz-border-radius-bottomleft:10px;
	border-bottom-left-radius:10px;
	text-indent:-1.07px;
	border:1px solid #20476e;
	display:inline-block;
	color:#ffffff;
	font-family:Arial Black;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:35px;
	line-height:35px;
	width:107px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #074a8c;
	cursor: pointer;
}
.boton3:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3374b0), color-stop(1, #133e69) );
	background:-moz-linear-gradient( center top, #3374b0 5%, #133e69 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3374b0', endColorstr='#133e69');
	background-color:#3374b0;
}.boton3:active {
	position:relative;
	top:1px;
}


.botonrojo {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );
	background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
	background-color:#f24537;
	-webkit-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
	-webkit-border-bottom-right-radius:15px;
	-moz-border-radius-bottomright:15px;
	border-bottom-right-radius:15px;
	-webkit-border-bottom-left-radius:15px;
	-moz-border-radius-bottomleft:15px;
	border-bottom-left-radius:15px;
	text-indent:0;
	border:1px solid #d02718;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:30px;
	line-height:30px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #810e05;
}
.botonrojo:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537) );
	background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
	background-color:#c62d1f;
}.botonrojo:active {
	position:relative;
	top:1px;
}


.botonrojo_opaco {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8a0e05), color-stop(1, #2e0501) );
	background:-moz-linear-gradient( center top, #8a0e05 5%, #2e0501 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8a0e05', endColorstr='#2e0501');
	background-color:#8a0e05;
	-webkit-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
	-webkit-border-bottom-right-radius:15px;
	-moz-border-radius-bottomright:15px;
	border-bottom-right-radius:15px;
	-webkit-border-bottom-left-radius:15px;
	-moz-border-radius-bottomleft:15px;
	border-bottom-left-radius:15px;
	text-indent:0;
	border:1px solid #d02718;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:30px;
	line-height:30px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #810e05;
}
