/*.boton{
	cursor: pointer;
	cursor: hand;
	border: 0px solid #d68300;
	/*box-shadow:0 0 0 3px #ffcb79;
	padding: 2px 11px;
	border-radius: 2px; /*redondea los bordes
	font-weight: bold;
	/*text-shadow: 1px 1px 0px white;
	color: #FFFFFF;
	font-size: 18px;

	background: #018dfb; 
	/*background: -moz-linear-gradient(top, #018dfb 0%, #001694 100%);
	background: -webkit-linear-gradient(top, #018dfb 0%,#001694 100%); 
	background: -ms-linear-gradient(top, #018dfb 0%, #001694 100%); 
	filter:progid:DXImageTransform.Microsoft.Gradient(endColorstr='#018dfb', startColorstr='#001694', gradientType='0');
}		
.boton:hover{
	background: #08084c; 
	/*background: -moz-linear-gradient(top, #001694 0%, #018dfb 100%);
	background: -webkit-linear-gradient(top, #001694 0%,#018dfb 100%); 
	background: -ms-linear-gradient(top, #001694 0%, #018dfb 100%); 
	filter:progid:DXImageTransform.Microsoft.Gradient(endColorstr='#001694', startColorstr='#018dfb', gradientType='0');
}
.boton:active {
	background: #001694; 
	/*background: -moz-linear-gradient(top, #08084c 0%, #08084c 100%);
	background: -webkit-linear-gradient(top, #08084c 0%,#feca3f 100%);
	background: -ms-linear-gradient(top, #08084c 0%, #feca3f 100%); 
	filter:progid:DXImageTransform.Microsoft.Gradient(endColorstr='#08084c', startColorstr='#08084c', gradientType='0');
}
*/
.botonenviar{
	cursor: pointer;
	cursor: hand;
	border: 0px solid #d68300;
	/*box-shadow:0 0 0 3px #ffcb79;*/
	padding: 2px 11px;
	border-radius: 2px; /*redondea los bordes*/
	font-weight: bold;
	/*text-shadow: 1px 1px 0px white;*/
	color: #FFFFFF;
	font-size: 18px;

	background: #9a0000; 
	/*background: -moz-linear-gradient(top, #018dfb 0%, #001694 100%);
	background: -webkit-linear-gradient(top, #018dfb 0%,#001694 100%); 
	background: -ms-linear-gradient(top, #018dfb 0%, #001694 100%); 
	filter:progid:DXImageTransform.Microsoft.Gradient(endColorstr='#018dfb', startColorstr='#001694', gradientType='0');*/
}		
.botonenviar:hover{
	background: #bf2b37; 
	background: -moz-linear-gradient(top, #bf2b37 0%, #9a0000 100%);
	background: -webkit-linear-gradient(top, #bf2b37 0%,#9a0000 100%); 
	background: -ms-linear-gradient(top, #bf2b37 0%, #9a0000 100%); 
	filter:progid:DXImageTransform.Microsoft.Gradient(endColorstr='#bf2b37', startColorstr='#9a0000', gradientType='0');
}
.botonenviar:active {
	background: #d43340; 
	/*background: -moz-linear-gradient(top, #d43340 0%, #bf2b37 100%);
	background: -webkit-linear-gradient(top, #d43340 0%,#bf2b37 100%);
	background: -ms-linear-gradient(top, #d43340 0%, #bf2b37 100%); 
	filter:progid:DXImageTransform.Microsoft.Gradient(endColorstr='#d43340', startColorstr='#bf2b37', gradientType='0');*/
}


    .boton2 {
        
        -moz-box-shadow: 0px 10px 14px -7px #276873;
        -webkit-box-shadow: 0px 10px 14px -7px #276873;
        box-shadow: 0px 10px 14px -7px #276873;
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
        background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
        background:-webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
        background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);
        background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
        background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
        
        background-color:#599bb3;
        
        -moz-border-radius:8px;
        -webkit-border-radius:8px;
        border-radius:8px;
        
        display:inline-block;
        color:#ffffff;
        font-family:arial;
        font-size:18px;
        font-weight:bold;
        padding:7px 12px;
        text-decoration:none;
        cursor: hand;
		cursor: pointer;
        text-shadow:0px 1px 0px #3d768a;
        
    }
    .boton2:hover {
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
        background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
        background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
        background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);
        background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
        background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
        
        background-color:#408c99;
    }
    .boton2:active {
        position:relative;
        top:1px;}