.error{
	background-color: #08084c;
	padding: 6px 12px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	margin-left: 16px;
	margin-top: 6px;
	position: absolute;
}
.error:before{
	content: '';
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #08084c;
    border-left: 8px solid transparent;
    left: -16px;
    position: absolute;
    top: 5px;
}