#divDesplegable label
{
	color: #6d6b6b;
		font-family: Calibri;
		font-size: 15px;
		font-weight:bold;
}

.areanegocio
{
	margin-left:5px;
	color: #6d6b6b;
	font-family: Calibri;
	font-size: 12px;
}

.checkbox,#checkboxall
{
	margin-left:15px;
}

.cursor
{
	cursor:hand;
	cursor:pointer;
}
#mes
{
	position: absolute;
	overflow: auto;
	width:250px;
	height:220px;
	-moz-box-shadow: 0px 5px 10px #B5C1C5;
	-webkit-box-shadow: 0px 5px 10px #B5C1C5;
	-o-box-shadow: 0px 5px 10px #B5C1C5;
	-ms-box-shadow: 0px 5px 10px #B5C1C5;
	 box-shadow: 0px 5px 10px #B5C1C5
	 top:2px;
}

.oculto
{
	display: none;
}