body {
	background: #666666; /* Old browsers */
background: -moz-linear-gradient(top, #666666 0%, #606060 9%, #5b5b5b 23%, #515151 50%, #383838 76%, #262626 100%, #262626 100%, #666666 100%, #262626 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#666666), color-stop(9%,#606060), color-stop(23%,#5b5b5b), color-stop(50%,#515151), color-stop(76%,#383838), color-stop(100%,#262626), color-stop(100%,#262626), color-stop(100%,#666666), color-stop(100%,#262626)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #666666 0%,#606060 9%,#5b5b5b 23%,#515151 50%,#383838 76%,#262626 100%,#262626 100%,#666666 100%,#262626 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #666666 0%,#606060 9%,#5b5b5b 23%,#515151 50%,#383838 76%,#262626 100%,#262626 100%,#666666 100%,#262626 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #666666 0%,#606060 9%,#5b5b5b 23%,#515151 50%,#383838 76%,#262626 100%,#262626 100%,#666666 100%,#262626 100%); /* IE10+ */
background: linear-gradient(to bottom, #666666 0%,#606060 9%,#5b5b5b 23%,#515151 50%,#383838 76%,#262626 100%,#262626 100%,#666666 100%,#262626 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#262626',GradientType=0 ); /* IE6-9 */
}


#Layer1 {
	position:absolute;
	width:750px;
	height:115px;
	z-index:1;
	
	left: 25%;
	
	
}

#resultados{
 /*	position:absolute; */ 
	position:relative; 	
			
	width:100%;	
	height: 300px;	
	font-size: 12px;
 	overflow: auto; 
}

#divx{
	width: 100%;
}

#table1{
	width: 100%;
	border-collapse: collapse;
	border: 1px solid black;	
}


#tabla_menu{
	border-collapse: collapse;
	border: 0px solid black;	
	margin-left:0px;
	margin-right:auto;
}










#demoDer { 
	width:200px;
	height:1px;
	background-color:#CCCC33;
	text-align:left;
	float:right;
	position:absolute;
}

#lista
{
	position:absolute;
	width:740px;
	height: 300px;
	background-color:#EAEAEA; color:#000000;
	border:1px dotted; border-color:#000000;
	z-index:1;
	top:25px;
	left:0px;
	display:none;
	overflow: auto;
	
}




.resaltado
{
	background-color:#00FF00; color:#000000;
	cursor:pointer;
}

.normal
{
	background-color:#EAEAEA; color:#000000;
}

.input{
	position:absolute;
	
	/* Para chrome    */
	top:-25px;
	left:150px;
	
	
	
	width:300px;
	background-color:#EAEAEA;
	text-align:left;
	
}

#desde{
background-color:#EAEAEA; color:#000000;
text-align:center;	
font-family:Verdana;	
font-size: 10px;
}
#hasta{
background-color:#EAEAEA; color:#000000;	
text-align:center;
font-family:Verdana;	
font-size: 10px;
}



.style1 {
	color: #FFFFFF;
	font-weight: bold;
}




.estandar_td{
	text-align: center;
	vertical-align: middle;
	border: 1px solid #CCCC33;
	border-spacing: 0;
	background: #D5D5D5;
	color: #000000;	
	height:22px;	
	font-family:Verdana;
	/*background-color:#D5D5D5;*/
	font-size: 10px;
}

.estandar_td_fondo_naranjo1{
	text-align: center;
	vertical-align: middle;
	border: 1px solid #CCCC33;
	border-spacing: 0;
	background: #FC5B03;
	color: #000000;	
	height:22px;	
	font-family:Verdana;
	/*background-color:#D5D5D5;*/
	font-size: 10px;
}
.estandar_td_fondo_rojo1{
	text-align: center;
	vertical-align: middle;
	border: 1px solid #CCCC33;
	border-spacing: 0;
	background: #FC0802;
	color: #000000;	
	height:22px;	
	font-family:Verdana;
	/*background-color:#D5D5D5;*/
	font-size: 10px;
}


.tit_td{
	text-align: center;
	vertical-align: middle;
	border: 0px solid #FF0000;
	border-spacing: 0;
	background: #333333;
	color: #FFFFFF;	
	height:25px;	
	font-family:Verdana;	
	font-size: 14px;
	font-weight: bold;
}




.xtd2{ width:4.72%; background: #222222;}
.xtd3{ width:9.43%; }
.xtd4{ width:17.92%; background: #222222;}
.xtd5{ width:14.15%; }
.xtd6{ width:14.15%;  background: #222222;}
.xtd7{ width:11.32%; }
.xtd8{ width:14.15%; background: #222222;}
.xtd9{ width:4.72%;  }
.xtd10{ width:4.72%; background: #222222;}
.xtd11{ width:4.72%; }


.atd2{ width:4.72%; }
.atd6{ width:9.43%; }
.atd3{ width:17.92%; }
.atd4{ width:14.15%; }
.atd5{ width:14.15%; }
.atd7{ width:11.32%; }
.atd8{ width:14.15%; }
.atd9{ width:4.72%; cursor: pointer;}
.atd10{ width:4.72%; cursor: pointer;}
.atd11{ width:4.72%; cursor: pointer;}






#boton1,#boton2{cursor: pointer;}

/***************************************************************************/
.style7 {font-size: 14px; color: #FF0000; text-align:center; }

.estandar_text{
border: 0px solid #FF0000;
background-color:#D5D5D5;	
}

#td1{ width:22px;}
#text2{ width:100px; }






