*{
	margin: 0px;
	padding: 0px;
	font-family: Arial;
	font-size: 11px;
}

.parrafotitulos{
	font-weight:bold;
	margin-left: 3px;
	padding-right: 2px;
}

.parrafosubmenu{
	font-weight:bold;
	margin-left: 20px;
	padding-right: 2px;
}

#div_izquierdo{
	float:left;
	width:18%;
}

#div_derecho{
	float:left;
	overflow: auto;
	width:80%;
}

#div_principal{
	width: 97%;
	display: block;
	margin-left: auto;
	margin-right: auto;	
}

.resaltado{
	text-align: center;
	background-color:#ededed;
	background: -moz-linear-gradient(top, #FFF  0%, #ededed 100%);
	background: -webkit-linear-gradient(top, #FFF  0%,#ededed 100%);
	background: -ms-linear-gradient(top, #FFF  0%, #ededed 100%); 
	filter:progid:DXImageTransform.Microsoft.Gradient(endColorstr='#FFF ', startColorstr='#ededed', gradientType='0');
	font-family: Calibri;
	font-weight:bold;		
}

.color-celda{	
	background-color:#ededed;
	border-color:  #f7f7f6;
}

.marcado{
	background-color: #e9ebd2;
}

#tabla1{
	width: 100%;
	background-color:#ededed;
	background: -moz-linear-gradient(top, #FFF  0%, #ededed 100%);
	background: -webkit-linear-gradient(top, #FFF  0%,#ededed 100%);
	background: -ms-linear-gradient(top, #FFF  0%, #ededed 100%); 
	filter:progid:DXImageTransform.Microsoft.Gradient(endColorstr='#FFF ', startColorstr='#ededed', gradientType='0');	
}

.input{
	background: transparent;
}

.ingreso, .remuneraciones_op, .remuneraciones_adm, .leyes_op, .leyes_adm, .gmantencion_op, .gmantencion_adm, .goperacion_op, .goperacion_adm, .epp_op, .epp_adm, .comunicaciones_adm, .gvehiculo_adm, .gviajes_adm, .goficina_adm, .gpublicitario_adm, .gmicelaneos, .seguro_op, .seguro_adm, .honorario_op, .honorario_adm, .gtorechazado_adm
{
	display:none;
}

.ingresoprincipal, .remuneracionprincipal_op, .remuneracionprincipal_adm, .leyesprincipal_op, .leyesprincipal_adm, .gmantencionprincipal_op, .gmantencionprincipal_adm, .goperacionprincipal_op, .goperacionprincipal_adm,
 .eppprincipal_op, .eppprincipal_adm, .comunicacionesprincipal_adm, .gvehiculoprincipal_adm, .gviajesprincipal_adm, .goficinaprincipal_adm, .gpublicitarioprincipal_adm, .gmicelaneosprincipal, .grecuperablesprincipal, .ghonorarioprincipal_op, .ghonorarioprincipal_adm,  .gtorechazadoprincipal_adm
{
	cursor: hand;
	cursor: pointer;
}

.cursor{
	cursor: hand;
	cursor: pointer;
}

.columnaDerecha{
	height:10px;
	width: 130px;
	text-align:right;
	border-bottom: 1px solid #525c5c;	
}

.columnaIzquierda{
	height:10px;
	border-bottom: 1px solid #525c5c;	
}

.gvehiculoprincipal_op, .gvehiculoprincipal_adm,  .ghonorarioprincipal_op, ghonorarioprincipal_adm, .grecuperableprincipal_op,  .depreciacionprincipal_op, .depreciacionprincipal_adm, .arriendosprincipal_adm, .seguroprincipal_op, .seguroprincipal_adm, .interesprincipal_op, .otrosopprincipal_op, .comoprincipal_op
{
	cursor: hand;
	cursor: pointer;
}
.gvehiculo_op, .gvehiculo_adm, .honorario_op, .honorario_adm, .recuperable_op, .depreciacion_op, .depreciacion_adm, .arriendos_adm, .interes_op, .como_op, .otrosop_op
{
	display: none;
}

#div_titulo{
	width:100%;
	margin: 0 auto 0 auto;
	padding: 6px;
}

#main{
	background-color: #002023;
	width:100%;
}
.valoresmenores
{
	color: red;
}

.valoresmayores
{
	color: #25558b;
}

.ocultar{
	display: none;
}

input[type="text"]:active
{
	border: 0px solid;
}

#nombretitulo, #perfiltitulo
{
	color: #FFF;
}
.destacar
{
	background: #e9e696 !important;
}
