#dhtmltooltip{
position: absolute;
left: -300px;
width: 150px;
border: 1px solid black;
border-radius: 5px 5px  5px 5px;
padding: 6px;
background-color: lightyellow;
font-weight:  bold;
font-size: 15px;
color: white;
background: -moz-radial-gradient(center, ellipse cover, rgba(45,67,90,1) 6%, rgba(45,67,90,1) 23%, rgba(26,38,50,1) 63%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(6%,rgba(45,67,90,1)), color-stop(23%,rgba(45,67,90,1)), color-stop(63%,rgba(26,38,50,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover, rgba(45,67,90,1) 6%,rgba(45,67,90,1) 23%,rgba(26,38,50,1) 63%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover, rgba(45,67,90,1) 6%,rgba(45,67,90,1) 23%,rgba(26,38,50,1) 63%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover, rgba(45,67,90,1) 6%,rgba(45,67,90,1) 23%,rgba(26,38,50,1) 63%); /* IE10+ */
background: radial-gradient(ellipse at center, rgba(45,67,90,1) 6%,rgba(45,67,90,1) 23%,rgba(26,38,50,1) 63%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d435a', endColorstr='#1a2632',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
visibility: hidden;
z-index: 100;
/*Remove below line to remove shadow. Below line should always appear last within this CSS*/
filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135);
}

#dhtmlpointer{
position:absolute;
left: -300px;
z-index: 101;
visibility: hidden;
}